openapi: 3.1.0
info:
  description: >
    ## UMBRELLA API Documentation Description:

    Welcome to the official documentation for the UMBRELLA RESTful API. 

    This comprehensive guide is designed to assist developers and integrators, 

    in effectively utilizing the power of our API.

    Our RESTful API provides:

    A simple and efficient way to access and interact 

    with, currencies, finances ....... 

    Whether you're building 

    a web application, mobile app, or integrating 

    with other services, our API offers the tools 

    you need to streamline your development process 

    and unlock the full potential of your project.

    In this documentation, you'll find detailed 

    information on how to make API requests, 

    authentication procedures, available endpoints, 

    request/response examples, error handling, 

    and best practices for integrating UMBRELLA

    into your projects.


    ## Authorization:

    You can authorize your requests using this authorization method:

    - TOKEN


    ## TOKEN

    - The endpoints are authorized using a TOKEN.

    - To authorize requests, please add a Token using the 'Authorize' button
    with the following format:
      ### "Bearer user-token"
  version: 1.0.0
  contact:
    name: API Support
    email: shadab@gmail.com
servers:
  - url: 'http://api-alpha.umbrellaerp.com'
tags:
  - name: currency
    description: currency - currency data management.
  - name: scheduled rate update
    description: scheduled rate update - scheduled rate update data management.
  - name: fiscal year
    description: fiscal year - fiscal year data management.
  - name: auth
    description: auth - auth data management.
  - name: party
    description: party - party data management.
  - name: category
    description: category - category data management.
  - name: contact mechanism
    description: contact mechanism - contact mechanism data management.
paths:
  '/currencies':
    $ref: 'umbrella/umbrella_currency/currency/get_post_delete_currency.yaml'
  '/currencies/{obj_id}':
    $ref: 'umbrella/umbrella_currency/currency/get_put_currency_by_id.yaml'
  '/scheduled-rate-updates':
    $ref: 'umbrella/umbrella_currency/currency/get_post_delete_scheduled_rate_updates.yaml'
  '/scheduled-rate-updates/{obj_id}':
    $ref: 'umbrella/umbrella_currency/currency/get_put_scheduled_rate_updates_by_id.yaml'
  '/fiscal-years':
    $ref: 'umbrella/umbrella_financial_accounting/fiscal_year/get_post_delete_fiscal_year.yaml'
  '/fiscal-years/{obj_id}':
    $ref: 'umbrella/umbrella_financial_accounting/fiscal_year/get_fiscal_year_by_id.yaml'
  '/login':
    $ref: 'umbrella/umbrella/auth/post_auth.yaml'
  '/parties':
    $ref: 'umbrella/umbrella_party/party/get_post_delete_auth.yaml'
  '/parties/{obj_id}':
    $ref: 'umbrella/umbrella_party/party/get_put_auth_by_id.yaml'
  '/categories':
    $ref: 'umbrella/umbrella_party/category/get_post_delete_categories.yaml'
  '/categories/{obj_id}':
    $ref: 'umbrella/umbrella_party/category/get_put_categories_by_id.yaml'
  '/contact-mechanism':
    $ref: 'umbrella/umbrella_party/contact_mechanism/get_post_delete_contact_mechanism.yaml'
  '/contact-mechanism/{obj_id}':
    $ref: 'umbrella/umbrella_party/contact_mechanism/get_put_contact_mechanism.yaml'
    
components:
  schemas:
    CreateCurrency:
      properties:
        active:
          type: boolean
        code:
          type: string
        digits:
          type: integer
        name:
          type: string
        numeric_code:
          type: string
        rounding:
          type: float
        symbol:
          type: string
      required:
        - code
        - name
      example:
        active: true
        code: "nc2"
        digits: 2
        name: "new_currency"
        numeric_code: "001"
        rounding: 4
        symbol: "nc2"
    UpdateCurrency:
      properties:
        active:
          type: boolean
        code:
          type: string
        digits:
          type: integer
        name:
          type: string
        numeric_code:
          type: string
        rounding:
          type: float
        symbol:
          type: string
      required:
        - code
        - id
      example:
        active: true
        code: "er1"
        digits: 3
        name: "Euro"
        numeric_code: "111"
        rounding: 2
        symbol: "eu"
    CreateCron:
      properties:
        data:
          type: object
          properties:
            type: object
            currencies:
              type: array
            currency:
              type: integer
            currency_:
              type: object
              label:
                type: string
              value:
                type: integer
            day:
              type: integer
            frequency:
              type: string
            last_update:
              type: date
            source:
              type: string
            weekday:
              type: integer
      required:
        - currency
        - frequency
        - source
      example:
          currency: 1
          day: 1
          frequency: "monthly"
          last_update: "2024-01-28"
          source: "ecb"
          weekday: "2"
    UpdateCron:
      properties:
        data:
          type: object
          properties:
            type: object
            currencies:
              type: array
            currency:
              type: integer
            currency_:
              type: object
              label:
                type: string
              value:
                type: integer
            day:
              type: integer
            frequency:
              type: string
            last_update:
              type: date
            source:
              type: string
            weekday:
              type: integer
      required:
        - currency
        - frequency
        - source
      example:
        currency: 1
        day: 1
        frequency: "monthly"
        last_update: "2024-01-28"
        source: "ecb"
        weekday: "2"
    CreateFiscalYear:
      properties:
        data:
          type: object
          properties:
            type: object
            company:
              type: integer
            end_date:
              type: date
            name:
              type: string
            post_move_sequence:
              type: integer
            start_date:
              type: date
            periods:
              type: array
              properties:
                end_date:
                  type: date
                name:
                  type: string
                post_move_sequence:
                  type: integer
                start_date:
                  type: date
                state:
                  type: string
                type:
                  type: string
            state:
              type: string
      required:
        - company
        - end_date
        - start_date
        - name
        - post_move_sequence
        - start_date
        - state
      example:
        company: 1
        end_date: "2029-12-31"
        name: "2027"
        periods:
          type: array
          properties:
            end_date: "2029-12-31"
            name: "2024-01"
            post_move_sequence: 9
            start_date: "2029-01-01"
            state: "open"
            type: "standard"
        post_move_sequence: 7
        start_date: "2029-01-01"
        state: "open"
    CreateAuth:
      properties:
        data:
          type: object
          properties:
            type: object
            username: 
              type: string
            password:
              type: string
      required:
        - username
        - password
      example:
        username: "elyas"
        password: "elyas"
    CreateParty:
      properties:
        active:
          type: boolean
        code:
          type: string
        name:
          type: string
      required:
        - code
        - name
      example:
        active: true
        code: "19"
        name: "Party 19"
    UpdateParty:
      properties:
        active:
          type: boolean
        code:
          type: string
        name:
          type: string
      required:
        - name
      example:
        active: true
        code: "61"
        name: "Party 61"
    DeleteRequestBody: 
      properties:
        ids:
          type: array 
      required:
        - ids 
      example:
        ids: [18,13]
    DeleteApiResponse:
      items:
        type: object
        properties:
          data:
            type: null
          errors:
            type: null
          pagination:
            type: null
          status:
            type: integer
          success_message:
            type: null
      example:
        data: null
        errors: null
        pagination: null
        status: 200
        success_message: null   
    CreateCategory:
      properties:
        name:
          type: string
        parent:
          anyOf:
            - type: integer
            - type: null
        childs:
          type: array
          properties:
            type: object
      required:
        - name
      example:
        name: "testCtg4"
        parent: 4
        childs: 
          childs: []
          name: "test1"
          parent: 4
    UpdateCategory:
      properties:
        name:
          type: string
        parent:
          anyOf:
            - type: integer
            - type: null
        childs:
          type: array
          properties:
            type: object
      required:
        - name
      example:
        name: "testCtg4"
        parent: 4
        childs: []
    CreateContactMechanism:
      properties:
        active: 
          type: boolean
        address:
          type: integer
        address_:
          type: object
          properties:
            label:
              type: string
            value:
              type: integer
        comment:
          type: string
        language:
          type: string
        name: 
          type: string
        party:
          type: integer 
        party_:
          type: object
          properties:
            label: 
              type: string
            value: 
              type: integer
        sequence:
          type: integer
        type:
          type: string
        value:
          type: string 
      required:
        - name
        - party
      example:
        active: true
        address: 2
        address_:
          label: "abcParty, bl1, st12, 1007, Kabul, Afghanistan"
          value: 2
        comment: "abcParty comments"
        language: "en"
        name: "ctm2"
        party: 1
        party_:
          label: "Party 1"
          value: 1
        sequence: 1
        type: "phone"
        value: "8888"
    UpdateContactMechanism:
      properties:
        active: 
          type: boolean
        address:
          type: integer
        address_:
          type: object
          properties:
            label:
              type: string
            value:
              type: integer
        comment:
          type: string
        language:
          type: string
        name: 
          type: string
        party:
          type: integer 
        party_:
          type: object
          properties:
            label: 
              type: string
            value: 
              type: integer
        sequence:
          type: integer
        type:
          type: string
        value:
          type: string 
      required:
        - name
        - party
      example:
        active: true
        address: 2
        address_:
          label: "abcParty, bl1, st12, 1007, Kabul, Afghanistan"
          value: 2
        comment: "abcParty comments"
        language: "en"
        name: "ctm2"
        party: 1
        party_:
          label: "Party 1"
          value: 1
        sequence: 1
        type: "phone"
        value: "8888"
  
    HTTP200:
      properties:
        success_message:
          type: string
          example: OK
    HTTP401:
      properties:
        data:
          type: null
        errors:
          type: object
        pagination:
          type: null
        status:
          type: integer
        success_message:
          type: string
      example:
        data: null
        errors:
          - error_message: >-
              401 Unauthorized: The server could not verify that you are
              authorized to access the URL requested. You either supplied the
              wrong credentials (e.g. a bad password), or your browser doesn't
              understand how to supply the credentials required.
            identifier: Global
            severity: 1
        pagination: null
        status: 401
        success_message: null
    HTTP404:
      properties:
        data:
          type: null
        errors:
          type: array
          properties:
            error_message:
              type: string
            identifier:
              type: string
            serverity:
              type: integer
        pagination:
          type: null
        status:
          type: integer
        success_message:
          type: string
      example:
        data: null
        errors:
          - error_message: Not found
            identifier: currency.currency
            severity: 1
        pagination: null
        status: 404
        success_message: null
    HTTP400:
      properties:
        data:
          type: null
        errors:
          type: array
          properties:
            error_message:
              type: string
            identifier:
              type: string
            serverity:
              type: integer
        pagination:
          type: null
        status:
          type: integer
        success_message:
          type: string
      example:
        data: null
        errors:
          - error_message: >-
              415 Unsupported Media Type: Did not attempt to load JSON data
              because the request Content-Type was not 'application/json'.
            identifier: Global
            severity: 1
        pagination: null
        status: 400
        success_message: null
    HTTP403:
      properties:
        data:
          type: null
        errors:
          type: array
          properties:
            error_message:
              type: string
            identifier:
              type: string
            serverity:
              type: integer
        pagination:
          type: null
        status:
          type: integer
        success_message:
          type: string
      example:
        data: null
        errors:
          - error_message: >-
              User already logged in.
            identifier: auth
            severity: 1
        pagination: null
        status: 403
        success_message: null
  
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
